# Ignore Visual Studio build folders
bin/
obj/
.vs/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
*.dll
*.exe
*.log

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Publish folder
wwwroot/uploads/
